body {
  font-family: Helvetica;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.header {
  color: white;
  background-image: url("../pics/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 18px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
